/* 
    Created on : 01/01/2022, 23:19:25
    Author     : edsonpaulo
*/
:root {
  --bg-color: #f9f7f7;
  --text-color: #112d4e;
  --primary-color: #dbe2ef;
  --secondary-color: #3f72af;
  --success-color: #218838;
}

* {
  box-sizing: border-box;
  outline: none;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: var(--bg-color);
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  width: 80%;
  height: 80%;
  background: var(--primary-color);
  border-radius: 20px;
}

.sidebar {
  height: 100vh;
  width: 250px;
  display: flex;
  position: fixed;
  flex-direction: column;
  padding: 40px 25px;
  overflow-y: auto;
}

label.required:after {
  content: "*";
  color: red;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder,
.bootstrap-select > .dropdown-toggle.bs-placeholder:active,
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus,
.bootstrap-select > .dropdown-toggle.bs-placeholder:hover {
  color: #444 !important;
  background: #fff !important;
  border: 1px solid #ccc;
}

.nav-logo {
  font-size: larger;
}
.my {
  position: absolute;
  z-index: 1;
  display: none;
}

.ppl:hover {
  .my {
    display: block;
  }
}
.navbar {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: var(--primary-color);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 5%;
  left: 5%;
  right: 5%;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

.btn-group .btn {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--text-color);
}

.dropdown-menu {
  border-radius: 0.5rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-color);
}

.dropdown-item {
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.dropdown-header {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--text-color);
  background-color: rgba(255, 255, 255, 0.05);
  padding: 0.5rem 1rem;
}

.dropdown-divider {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.btn-group .dropdown-menu {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  color: var(--text-color);
  position: absolute; /* Keep dropdown positioned correctly */
  z-index: 1000; /* Ensure dropdown appears on top */
}

/* Show dropdown on hover */
.btn-group:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
}
.container {
  background-color: var(--primary-color);
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
}

.p-2-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}
.hero-m {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.hero-content {
  width: 50%;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  padding: 2rem;
}

.hero-title {
  font-size: 4rem;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 1rem;
}
.hero-des {
  font-size: 1rem;
  color: var(--text-color);
  margin-bottom: 2rem;
}
.hero-btn {
  background-color: var(--text-color);
  color: var(--primary-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.hero-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-blob {
  position: absolute;
  height: 68%;
  z-index: 1;
  clip-path: "M46,-71.5C58.4,-63.5,66.4,-48.8,71.6,-33.8C76.8,-18.8,79.2,-3.5,78.8,12.5C78.3,28.6,75.2,45.5,65.2,55.9C55.3,66.3,38.5,70.1,21.8,75.5C5.1,81,-11.4,88.2,-27.4,86.6C-43.4,85,-58.9,74.7,-70.1,61.1C-81.4,47.5,-88.4,30.6,-89.1,13.9C-89.9,-2.8,-84.3,-19.4,-75.9,-33.4C-67.5,-47.3,-56.3,-58.7,-43.1,-66.3C-30,-73.9,-15,-77.8,0.9,-79.2C16.8,-80.6,33.5,-79.4,46,-71.5Z";
}

.hero-img {
  object-fit: cover;
  position: relative;
  z-index: 2;
  clip-path: "M46,-71.5C58.4,-63.5,66.4,-48.8,71.6,-33.8C76.8,-18.8,79.2,-3.5,78.8,12.5C78.3,28.6,75.2,45.5,65.2,55.9C55.3,66.3,38.5,70.1,21.8,75.5C5.1,81,-11.4,88.2,-27.4,86.6C-43.4,85,-58.9,74.7,-70.1,61.1C-81.4,47.5,-88.4,30.6,-89.1,13.9C-89.9,-2.8,-84.3,-19.4,-75.9,-33.4C-67.5,-47.3,-56.3,-58.7,-43.1,-66.3C-30,-73.9,-15,-77.8,0.9,-79.2C16.8,-80.6,33.5,-79.4,46,-71.5Z";
}

.h-btn {
  --color: var(--text-color);
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;

  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
}

.h-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
}

.h-btn:hover {
  color: #fff;
}
.h-btn:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.h-btn:hover:before {
  top: -30px;
  left: -30px;
}

.h-btn:active:before {
  background: #3a0ca3;
  transition: background 0s;
}

/* #testing/person/list.html */
.list-container {
  width: 100%;
  height: 100vh;
  margin-top: 15vh;
}

/* From Uiverse.io by gharsh11032000 */
.card-p {
  position: relative;
  width: 350px;
  height: 200px;
  background-image: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  border-radius: 10px;
  display: flex;
  padding: 10px 30px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.heading {
  font-size: 24px;
  font-weight: 700;
  top: 40%;
  position: absolute;
  color: var(--text-color);
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.card-p:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}

.card-p .card-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 16px;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 999;
  border: none;
  opacity: 0;
  scale: 0;
  transform-origin: 0 0;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card-p:hover .card-btn {
  opacity: 1;
  scale: 1;
}

.card-p .card-btn:hover {
  box-shadow: 0 0 0px 5px rgba(0, 0, 0, 0.3);
}

.card-p .card-btn:active {
  scale: 0.95;
}

.overlay::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, var(--secondary-color) 0%, var(--primary-color) 100%);
  transition: transform 0.5s ease;
}

.card-p:hover .overlay::after {
  transform: translate(-50%, -50%) scale(2);
}
